<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Driver test suite">
            <directory>./tests/Behat/Mink/Driver</directory>
        </testsuite>
    </testsuites>

    <php>
        <!--server name="WEB_FIXTURES_HOST" value="http://test.mink.dev" /-->
    </php>

    <filter>
        <whitelist>
            <directory>./src/Behat/Mink/Driver</directory>
        </whitelist>
    </filter>
</phpunit>
